SECRET=THIS IS A SECRET
CORS_ORIGIN=http://localhost:3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_SCHEMA=testdb
REDIS_URL=redis://localhost:6380
PORT=8080
FORCE_DB_SYNC=0
DEBUG=0
LOG_LEVEL=DEBUG
NEW_RELIC_APP_NAME=Kamino-Server
NEW_RELIC_DISTRIBUTED_TRACING_ENABLED=false
NEW_RELIC_NO_CONFIG_FILE=true
ENVIRONMENT=develop
