

.formlogin{

  margin-right: auto;
  text-align: center;
  padding-top: 10%;

}
.formregister{

  margin-right: auto;
  text-align: center;
  padding-top: 5%;

}



.select {

  text-align: center;
  border: white solid  1px;
  padding-top: 1000%;
  margin: 20px;
  padding: 1rem;
  border-radius: 100px;

}
.nav {
  border-bottom-left-radius: 40px;
  margin: 0;
  top: 0;
  position: absolute;
  right: 0%; /* Cambiar este valor según el porcentaje deseado de la izquierda */
  background-color: #ff7676;
  width: 40%; /* Cambiar este valor según el porcentaje deseado del ancho */
  justify-content: flex-start;
  box-sizing: border-box; /* Para que el padding y el borde no aumenten el tamaño total */
  padding: 0.4%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* Divide el contenedor en 3 columnas, con diferentes proporciones de ancho */
  grid-gap: 5%; /* Espacio entre los elementos */
}


.nav button {
  background: none;
  border: none;
  position: -ms-page;
  padding: 0%;
  width: 100%; /* Usar la unidad vw para el ancho del botón */
  font-size: 1%; /* Modificar este valor para cambiar el tamaño del botón */
  /* box-sizing: border-box; Para que el padding y el borde no aumenten el tamaño total */
  grid-gap: 100%;


}

.nav a {
  color: #242121;
  text-decoration: none;
  background: none;
  cursor: pointer;
  margin-right: 2%;
  white-space: nowrap;
  font-size: 15px;
  padding-left: 10px;
 
  letter-spacing: 1px;


}

  
.footer{
  text-align: center;
  padding: 5px;
  margin: 0px;
  background-color: #ff7676;  
  bottom: 0px;
  right: 0px;
  width: 100%;
  position: fixed;
    min-height: 1%; 

}
.textfooter{ 
  text-align: center;
  color:  #c20000;
  text-decoration: none;
  background: none;
    padding: 0px;
  margin: 0px;
  min-height: 1%; 
  }
/* 
.style2{

font-family: sans-serif;
  border: 10;
  background-color: rgb(255, 255, 255);
  position:static;
   min-height: 100vh;
  display:flex ;
  flex-direction: column;
  min-height: 100vh;    

} */



/* 

.style4{

  text-align: center;
  top: 20px;
  bottom: 2000px;
  position: relative;
  
} */



.years{

  text-align: center;

  background-position: 200px;

}

.years button {

   padding: 15px;
  border-radius: 100px;
  background-color:  #ff7676;  
  bottom: 20px;
 margin-right: 50px;
 margin-left: 50px;
   cursor: pointer;

}

.textbutom {
  text-align: center;
  color:  #c20000;
  text-decoration: none;
  background: none;
  cursor: pointer;
}

/* .text2{
  text-align: center;
  color:  #c20000;
  text-decoration: none;
  background: none;
  cursor: pointer;
} */

.years a {
  text-align: center;
  color:  #c20000;
  text-decoration: none;
  background: none;
  cursor: pointer;
}

.text{
  text-align: center;
  color:  #c20000;
  text-decoration: none;
  background: none;
  
}


@media screen  and (max-width: 480px) {

  .nav {



  right: 0%; /* Cambiar este valor según el porcentaje deseado de la izquierda */
    border-bottom-right-radius: 40px;
  width: 100%; /* Cambiar este valor según el porcentaje deseado del ancho */

  grid-gap: 1%; /* Espacio entre los elementos */
}

 .footer{
  padding: 1px;
}
.textfooter {
   font-size: 01px;
}
}
  
@media screen and (min-width: 481px) and (max-width: 768px){ 

  .nav{

  background-color: #ff7676;  
  width: 70%; 
  }
  
  .footer{
  padding: 1px;
}
.textfooter {
   font-size: 3px;
}
  
}
@media screen and (min-width: 769px) and (max-width: 1024px) { 

  .nav{
  background-color: #ff7676;  
  width: 70%; /* Cambiar este valor según el porcentaje deseado del ancho */

  }

      .footer{
  padding: 5px;
}
.textfooter {
   font-size: 10px;
}
  
}
@media screen and (min-width: 1025px) and (max-width: 1200px) { 

  .nav{

  background-color: #ff7676;
  right: 0%; /* Cambiar este valor según el porcentaje deseado de la izquierda */

  width: 60%; /* Cambiar este valor según el porcentaje deseado del ancho */
  }
  .nav a {
  font-size: 20px;
    }
  }
    .footer{
  padding: 5px;
}
.textfooter {
   font-size: 10px;
}
  
@media screen and (min-width: 1201px){ 
  .nav{
  background-color: #ff7676;  
    border-bottom-left-radius: 80px;
  }
  .nav a {
  font-size: 15px;
    }
  }
  .footer{
  padding: 10px;
}
.textfooter{
   font-size: 25px;
}
  





